---
import { Image } from "astro:assets";
import { markdownify } from "@/lib/utils/textConverter";
import { useTranslatedPath } from "@/i18n/utils";

const { lang, cta } = Astro.props;

const tp = useTranslatedPath(lang);
---

<section class="section">
  <div
    class="container flex flex-col md:flex-row items-center justify-center text-center md:text-left"
  >
    <div class="mt-5 md:mt-0 md:w-auto lg:w-auto">
      <h3>{cta?.title}</h3>
    </div>
    <div class="mt-4 md:mt-0 md:ml-4">
      {
        cta?.button?.enable && (
          <a
            class="btn btn-primary"
            href={tp(cta.button.link)}
            rel={cta.button.rel}
          >
            {cta.button.label}
          </a>
        )
      }
    </div>
  </div>
</section>
