---
import type { HTMLTag } from "astro/types";

export interface Word {
  black?: string;
  teal?: string;
}

export interface Title {
  words: Word[];
  end?: string;
}

export interface TitleProps {
  title: Title[];
  // element: HTMLAttributes<"h1" | "h2" | "h3" | "h4" | "h5" | "h6">;
  tag: HTMLTag;
}

const { title, tag: Element = "h1" } = Astro.props as TitleProps;
---

{
  title.map((line: Title, i: number) => (
    <Element class="font-bold">
      {line.words.map((word: Word, j: number) => (
        <span class="inline-block sm:block">
          <span class="text-primary">
            {word?.teal}
            {word?.teal && j == line.words.length - 1 && (
              <span>{line.end}</span>
            )}
          </span>
          <span>
            {word?.black}
            {word?.black && j == line.words.length - 1 && (
              <span>{line.end}</span>
            )}
          </span>
          <span>&nbsp;</span>
        </span>
      ))}
    </Element>
  ))
}
