---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

// distructure frontmatters
const { lang } = Astro.props;

const entry = await getEntryBySlug("team", lang!);
const { Content } = await entry!.render();
---

<Base lang={lang} title={entry!.data.title}>
  <section class="section bg-gray-100 py-12">
    <div class="container mx-auto">
      <div class="flex items-center justify-center">
        <div class="text-center prose mx-auto prose-teal prose-img:rounded-xl">
          <h1
            class="mb-4 font-bold text-3xl md:text-4xl lg:text-5xl text-primary"
            set:html={markdownify(entry!.data.title)}
          />
          <Content />
        </div>
      </div>
    </div>
  </section>
</Base>
